#foot{
    height: 100%;
    width: 100%;
}
#reg{
    margin-left: 16%;
    width: 42%;
}
#resume {
    width: 15%;
    height: 15%;
    float: right;
    margin-right: 2%;
}
#table {
    width: 83%;
    max-width: 83%;
    margin-bottom: 20px;
}
#btn{
    font-size: 150%;
}

.myheader{
    color: red;
    font-size: 150%;
    margin-left: 8%;
    text-align: left;
}
.mylist{
    margin-left: 10%;
    text-align: left;
    font-size: 120%;
}
.myparag{
    margin-left: 8%;
    text-align: left;
    font-size: 140%;
}
.resume {
    margin-bottom: 5%;
}

.comment {
    border: solid 2px black;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1%;
}

.name > p,
.name > h5 {
    display: inline-block
}

.name > p {
    margin-right: 5%;
}